header {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.header__logo {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 50px;
  color: #fdfdfd;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.header__nav:hover .header__nav-item:not(:hover) {
  opacity: 0.3;
}

.header__nav-item {
  font-size: 20px;
  color: #fdfdfd;
  border-bottom: 2px solid transparent;
  transition: 300ms;

  &:hover {
    border-bottom-color: #5362ae;
  }
}

.header__nav a {
  color: inherit;
  text-decoration: inherit;
}

.header__btnMenu {
  display: none;
  color: #fdfdfd;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  header {
    width: 100%;
    justify-content: space-between;
    padding: 0 10%;
    margin: 0 0 30px;
    position: fixed;
    top: 0;
    background: #202a3a;
    z-index: 10;
  }

  .header__nav {
    width: 300px;
    height: 100vh;
    padding: 40px;
    position: fixed;
    top: 70px;
    right: -300px;
    background: linear-gradient(to bottom, #202a3a, #080611);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    transition: 350px;
    animation: showw 400ms both ease;
    font-weight: 300;
  }

  @keyframes showw {
    0% {}

    100% {
      right: 0;
    }
  }

  .header__nav:hover .header__nav-item:not(:hover) {
    opacity: 1;
    filter: none;
  }

  .header__btnMenu {
    display: block;
  }

}