.sign {
  margin: 0 0 100px;
}

.sign .list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

/* Card */
.sign .card {
  width: 350px;
  height: 200px;
  border: 1px solid #fff3;
  overflow: hidden;
  position: relative;

  &:hover {
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    transition: 800ms;
    border-color: #5362ae;
  }
}

.sign .card__data {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.sign .card__data img {
  width: 90px;
  height: 80px;
  object-fit: cover;
}

.sign .card__title {
  font-size: 40px;
  font-weight: normal;
  font-family: "Smythe", system-ui;
  color: #fdfdfd;
}

.sign .card__data-legend {
  font-size: 17px;
  color: #555;
}

.sign .card__details {
  display: none;
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 0;
}

.sign .card__details-legend {
  margin: 10px 0 0;
  display: block;
  font-size: 17px;
  color: #eee;
  font-weight: 300;
}

.sign .card:hover .card__data {
  animation: hidde 300ms both ease;
  -webkit-animation: hidde 300ms both ease;
}

.sign .card:hover .card__details {
  display: block;
  animation: show 300ms both 300ms ease;
  -webkit-animation: show 300ms both 300ms ease;
}

.sign button {
  display: block;
  flex-wrap: wrap;
  margin: 70px auto 0;
}



@keyframes hidde {
  100% {
    opacity: 0;
    display: none;
    /* Usando position porque em alguns celulares o display none não está funcionando */
    position: absolute;
    top: -100%
  }
}

@-webkit-keyframes hidde {
  100% {
    opacity: 0;
    display: none;
    /* Usando position porque em alguns celulares o display none não está funcionando */
    position: absolute;
    top: -100%
  }
}

@keyframes show {
  100% {
    opacity: 1;
  }
}


@-webkit-keyframes show {
  100% {
    opacity: 1;
  }
}