.sectionSign {
  margin: 0 0 100px;
}

.contentSign {}


.contentSign span {
  color: #524196;
  font-size: 20px;
}

.contentSign h1 {
  font-family: "Smythe", system-ui;
  color: #fdfdfd;
  font-size: 60px;
  font-weight: 300;
  width: 50%;
  margin: 20px 0 30px 0;
}

.contentSign p {
  font-size: 20px;
  color: #aaa;
  width: 50%;
  font-weight: 300;
  margin: 0 0 50px;
}

.listSign {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.cardSign {
  width: 350px;
  height: 200px;
  border: 1px solid #fff3;
  overflow: hidden;
  position: relative;
}

.signMain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cardSign img {
  width: 90px;
  height: 80px;
  object-fit: cover;
}

.cardSign h3 {
  font-family: "Smythe", system-ui;
  color: #fdfdfd;
  font-size: 40px;
  font-weight: normal;
}

.cardSign span {
  color: #555;
  font-size: 17px;
}

.signData h3 {
  margin: 0 0 10px;
}

.cardSign:hover {
  border-color: #5362ae;
}

.signData {
  display: none;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  padding: 20px;
  opacity: 0;
}

.cardSign:hover .signMain {
  animation: hidde 300ms both ease;
  -webkit-animation: hidde 300ms both ease;
}

.cardSign:hover .signData {
  display: block;
  animation: show 300ms both 300ms ease;
  -webkit-animation: show 300ms both 300ms ease;
}

@keyframes hidde {
  0% {
    /* opacity: 1; */
  }

  100% {
    opacity: 0;
    display: none;
    /* Usando position porque em alguns celulares o display none não está funcionando */
    position: absolute;
    top: -100%
  }
}

@-webkit-keyframes hidde {
  0% {
    /* opacity: 1; */
  }

  100% {
    opacity: 0;
    display: none;
    /* Usando position porque em alguns celulares o display none não está funcionando */
    position: absolute;
    top: -100%
  }
}

@keyframes show {
  0% {}

  100% {
    opacity: 1;
  }
}


@-webkit-keyframes show {
  0% {}

  100% {
    opacity: 1;
  }
}








/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
  .contentSign {
    & h1 {
      width: 100%;
    }

    & p {
      width: 100%;
    }
  }



}