.price {
    margin: 0 0 100px;
}

.price .list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.price .card {
    width: 350px;
    padding: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid #fff2;
    transition: 400ms;

    &:hover {
        box-shadow: 3px 3px 10px #5362ae63;
        transform: translateY(-5px);
        backdrop-filter: blur(10px);
    }
}

.price .card__widget {
    width: 80px;
    padding: 7px;
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background: #5362ae;
}

.price .card__title {
    font-size: 25px;
    font-weight: 100;
    font-family: "Smythe", system-ui;
    color: #fdfdfd;
}

.price .card__price {
    height: max-content;
    font-size: 60px;
    font-weight: 100;
    font-family: "Smythe", system-ui;
    color: #fdfdfd;
}

.price .card__price-legend {
    font-size: 20px;
    color: #888;
}

.price .card__divider {
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background: #fff2;
}

.price .card__details {
    margin: 0 0 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 17px;
    font-weight: 200;
    color: #fdfdfd;
}

.price .card__link {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-decoration: none;
    color: #fdfdfd;
    background: #5362ae;
    border: none;
    cursor: pointer;

    &:hover {
        transition: 400ms;
        filter: brightness(1.3);
    }
}