.sectionApresentation {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 100px;
}


.contentSection {
  width: 50%;

  & span {
    color: #524196;
    font-size: 20px;
  }

  & h1 {
    font-family: "Smythe", system-ui;
    font-weight: 100;
    color: #fdfdfd;
    font-size: 90px;
    margin: 10px 0;
  }

  & p {
    font-size: 20px;
    color: #ddd;
    margin: 0 0 50px;
    font-weight: 300;
  }

  & .contentButtons {
    display: flex;
    gap: 40px;
  }


}


.imageSection {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageSection img {
  width: 100%;
}



/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {

  .sectionApresentation {
    margin: 0 0 100px;
  }

  .contentSection {
    width: 100%;
  }

  .imageSection {
    display: none;
  }

  .contentSection {
    & .contentButtons {
      gap: 10px;
    }

    & h1 {
      font-size: 60px;
    }
  }



  .contentSign {

    & h1 {
      width: 100%;
    }

    & p {
      width: 100%;
    }

  }

}