.content__title {
    margin: 0 auto 20px;
    width: max-content;
    color: #fdfdfd;
    font-size: 32px;
    font-weight: 500;
}

.form__article {
    width: 700px;
    margin: 0 auto 100px;
    padding: 30px;
    position: relative;
    display: flex;
    gap: 5px;
    flex-direction: column;
    border: 1px solid #fff1;
    backdrop-filter: blur(2px);
}

.btn__changeForm {
    padding: 10px;
    position: absolute;
    right: 30px;
    top: 30px;
    color: #fdfdfd;
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
}

.form__article label {
    color: var(--corDarkText);
    font-weight: 500;
    font-size: 18px;

}

.form__article input {
    margin: 0 0 20px;
    padding: 5px;
    color: #ccc;
    background: none;
    border: none;
    border-bottom: 1px solid #fff1;
    outline: none;
    font-size: 18px;

    &:focus {
        border-color: var(--corBtn);
    }
}

.form__article textarea {
    height: 400px;
    padding: 10px;
    margin: 0 0 20px;
    color: #ccc;
    background: none;
    border: 1px solid #fff1;
    font-size: 18px;
    outline: none;

    &:focus {
        background: #0003;
        border-color: var(--corBtn);
    }
}

.form__article.list {
    display: flex;
    gap: 15px;
}

.listArticle__iten {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 18px;
    color: #ddd;
}

.listArticle__iten span:nth-child(1) {
    margin: 0 auto 0 0;
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .form__article {
        width: 100%;
        border: none;
        padding: 0;
    }

    .form__article textarea {
        width: 100%;
    }
}