.paymentContainer {
    width: 800px;
    height: 460px;
    margin: 100px auto;
    display: flex;

}

.checkout {
    width: 400px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom, #12101c, #12101c99);
}

.checkout h3 {
    font-family: "Smythe", system-ui;
    font-size: 48px;
    color: #fdfdfd;
}

.checkout-type {
    margin: 0 auto;
    display: flex;
    gap: 20px;
    
}

.checkout-typePayment {
    width: 135px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #ccc;
    background: #0002;
    border-radius: 20px;
}

.checkout-typePayment input {
    cursor: pointer;
    width: 100%;
}

.checkout-typePayment img {
    width: 100%;
}

.checkout-price {
    display: flex;
    flex-direction: column;

}

.checkout-priceLegend {
/* margin: 0 0 10px; */
color: #666;
}

.checkout-priceValue {
    font-size: 48px;
    color: #fdfdfd;
    font-family:  "Smythe", system-ui;
}

.paymentContent {
    width: 500px;
    background: #0002;
    padding: 20px;
}

.paymentCard {
    background: #12101c;
    width: 320px;
    height: 190px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    border-radius: 12px;
    box-shadow: 3px 3px 5px #0003;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}

#paymentCardBg {
    width: 150px;
    height: 150px;
    max-height: none;
    position: absolute;
    bottom: -50%;
    right: -10%;
    opacity: 0.2;
}

.paymentCard img {
    width: 70px;
    height: 40px;
    max-height: 30px;
    object-fit: contain;
    /* display: block; */
    margin: 0 0 0 auto;
}

.paymentCard label {
    color: #555;
    font-size: 14px;
}

.paymentCard span {
    color: #999;
    font-size: 17px;
    margin: 0 0 10px;
    height: 16px;
    overflow: hidden;
}

.paymentCardData {
    width: 100%;
    display: grid;
    grid-template-columns: 90% 1fr;
    justify-content: flex-start;

}

.paymentCardDataName {
    display: flex;
    flex-direction: column;
}


.paymentForm {
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 0 20px;
    grid-template-columns: 1fr 1fr;
}

.paymentForm label {
    color: #666;
    font-size: 16px;
}

.paymentForm input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff1;
    height: 25px;
    outline: none;
    color: #ccc;
    font-size: 18px;
}

.paymentFormGroup input {
    margin: 0 0 20px;
}


.paymentFormBandeira {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-column: span 2;
    margin: 0 0 20px;
}

.paymentFormBandeira label {
    margin: 0 25px 0 0;
}

.paymentFormGroup .mainBtn {
    margin: 0 auto;
    height: 40px;
    width: 150px;
    display: block;
}

.paymentFormGroup {
    display: flex;
    flex-direction: column;
}

.paymentPix {
    width: 250px;
    margin: 0 auto;
    
}

.paymentPix img {
    width: 100%;
}

.paymentPix h3 {
    color: #fdfdfd;
    margin: 0 0 5px;
}

.paymentPix span {
    margin-top: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 14px;
    color: #999;
    background: transparent;
    border: 1px solid #333;
}

.paymentPix span i {
    cursor: pointer;
}





/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {

    .paymentContainer {
        width: max-content;
        height: max-content;
        flex-direction: column;
        gap: 50px;
    }

    .paymentContent {
        width: 100%;
        background: none;
        padding: 0 0 50px;
    }

    .checkout {
        /* order: 2; */
        width: 100%;
        background: none;
        gap: 50px;
    }

    .checkout h3 {
        text-align: center;
    }

    .checkout-price {
        align-items: center;
    }

    .paymentForm {
        display: block;
        padding: 0 5%;
    }

    .paymentForm input {
        height: 30px;
    }
}