.content {
    width: 100%;
}

.paymentContainer {
    width: max-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.paymentSection {
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #fff3;
}

.paymentSectionTitle {
    font-size: 24px;
    font-weight: 400;
    color: #fdfdfd;
}

.paymentSectionSubtitle {
    color: #fdfdfd;
    font-size: 48px;
    font-weight: normal;
    font-family: "Smythe", system-ui;
}

.paymentSectionSubtitle span {
    font-size: 24px;
    font-family: "Smythe", system-ui;
}

.paymentSection .widgetDiscont {
    margin: 0 0 0 0;
}

.paymentSection:nth-child(2) {
    grid-row: span 2;

}

.paymentSectionCard {
    width: 320px;
    height: 190px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #12101c;
    border-radius: 12px;
    box-shadow: 3px 3px 5px #0003;
    overflow: hidden;
}

.paymentSectionCard span {
    height: 16px;
    display: block;
}

#paymentSectionCardBackgroud {
    width: 150px;
    height: 150px;
    max-height: none;
    position: absolute;
    bottom: -50%;
    right: -10%;
    opacity: .2;
}





.paymentSectionCouple {
    display: flex;
    flex-direction: column;
}

.paymentSectionCouple label {
    color: #aaa;
    width: 100%;
}

.paymentSectionCouple input {
    width: 100%;
    padding: 10px;
    margin: 0 0 25px;
    font-size: 18px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff1;
    color: #ddd;
    outline: none;
}

.paymentSectionCouple input:focus {
    border-bottom: 1px solid var(--corBtn);
}

.paymentSectionCouple select {
    width: 100%;
    padding: 10px;
    margin: 0 0 25px;
    font-size: 18px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff1;
    color: #ddd;
    outline: none;
}

.paymentSectionCouple option { color: #333;}


.paymentSectionCoupleRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
}

.paymentSection button {
    margin: 0 auto;
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 850px) {
    .paymentContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .paymentSection {
        width: 100%;
        border: none;
    }

    .paymentSection:nth-child(2) {
        order: 3;
    }
}