.content {
    width: 100%;
}

.container__payment {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    gap: 50px;
    /* border: 1px solid red; */
}

.payment__form {
    width: 100%;
    min-width: 300px;
}

fieldset {
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 1px solid #fff7;
}

.fieldset--flex {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.payment__title {
    margin: 0 0 20px;
    color: var(--corBtn);
    font-weight: 500;
}

.payment__form label {
    font-size: 14px;
    font-weight: 500;
    color: #aaa;
    margin: 0 0 5px;
}

.payment__form input {
    padding: 8px;
    margin: 0 0 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    background: #0001;
    border: 1px solid #fff1;
    border-radius: 5px;
    outline: none;

    &:focus {
        border-color: slateblue;
        background: #0003;
    }
}


/* payment__method */
.payment__method {
    display: flex;
    justify-content: space-evenly;
}

.payment__method-item {
    width: 180px;
    height: 100px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms;

    &:hover {
        border: 1px solid slateblue;
    }
}

.payment__method-item img {
    width: 50px;
}

.payment__method-item p {
    color: #555;
    font-weight: 500;
}

.payment__method-selection {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    border: 4px solid #9650eb;
    border-radius: 50%;
    background: slateblue;
}


/* payment__sumary */
.payment__sumary {
    width: 100%;
    min-width: 300px;
    height: max-content;
    /* border: 1px solid #fff1; */
    color: #ddd;
}

.payment__sumary h3 {
    padding: 0px 30px 0;
}

.payment__sumary-product {
    padding: 30px;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #fff1;
}

.payment__sumary-product figure {
    border: 1px solid #fff1;
    width: 80px;
    height: 100px;
    background: #0005;
}

.sumary__product-details {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sumary__product-details p:nth-last-child(1) {
    margin: auto 0 0 0;
}

.payment__sumary-pricing {
    margin: 0 0 30px;
    padding: 30px;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid #fff1;
}

.payment__sumary-divider {
    width: 100%;
    height: 1px;
    margin: 30px 0;
    background: #fff1;
    grid-column: span 2;

}

.payment__sumary-price--large {
    font-size: 20px;
}

.payment__sumary-btn {
    width: 90%;
    margin: 0 auto 30px;
    padding: 10px;
    display: block;
    font-size: 16px;
    color: #fdfdfd;
    background: var(--corBtn);
    border: none;
    cursor: pointer;

    &:hover {
        filter: brightness(1.1);
    }
}


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .container__payment {
        flex-wrap: wrap;
        width: 100%;
        padding: 30px 0 100px;
        gap: 10px;
    }

    .paymentSection {
        width: 100%;
        border: none;
    }

    .payment__method-item {
        width: 150px;
    }

    .paymentSection:nth-child(2) {
        order: 3;
    }

    .payment__sumary h3 {
        padding: 0;
    }

    .payment__sumary-product {
        padding: 0 0 30px;
    }

    .payment__sumary-pricing {
        padding: 30px 20px;
    }
}