.sectionBlog {
    margin: 0 0 100px;
}


.contentBlog {
    & span {
        color: #524196;
        font-size: 20px;
    }

    & h1 {
        font-family: "Smythe", system-ui;
        color: #fdfdfd;
        font-size: 60px;
        font-weight: 300;
        width: 50%;
        margin: 20px 0 30px 0;
    }

    & p {
        font-size: 20px;
        color: #aaa;
        width: 50%;
        font-weight: 300;
        margin: 0 0 50px;
    }

}

.listBlog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 80px 20px;
    margin: 0 0 80px;
}

.blogCard {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;



    & img {
        width: 100%;
        height: 230px;
        object-fit: cover;
    }

    & h2 {
        color: #fdfdfd;
    }

    & span {
        color: #666;
        font-weight: 300;
        font-size: 18px;
    }

    & a {
        background: transparent;
        width: fit-content;
        border: none;
        color: #524196;
        font-size: 18px;
        margin: 0 0 0 auto;
        transition: 400ms;
        cursor: pointer;
        text-decoration: none;
    }

    & a:hover {
        opacity: 0.5;
    }
}


.cardCount {
    width: 200px;
    height: 50px;
    background: #fff1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    
}

.cardCount span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fdfdfd;
    font-family: "Smythe", system-ui;
}

.cardCount button {
    background: #fff1;
    border: none;
    color: #888;
    font-size: 35px;
    cursor: pointer;
    transition: 400ms;
}

.cardCount button:hover {
    color: #fdfdfd;
    background: #fff3;
}

.sectionBlog label {
    display: block;
    margin: 0 auto 5px;
    width: fit-content;
    color: #666;
}





/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px ) {

    .contentBlog {

        & h1 {
          width: 100%;
        }
    
        & p {
          width: 100%;
        }
    
      }


}