@import url("../App.css");

.sectionBlog {
    margin: 0 0 100px;
}


.contentBlog {
    & span {
        color: var(--corDarkText);
        font-size: 20px;
    }

    & h1 {
        font-family: "Smythe", system-ui;
        color: var(--corWhiteText);
        font-size: 60px;
        font-weight: 300;
        width: 50%;
        margin: 20px 0 30px 0;
    }

    & p {
        font-size: 20px;
        color: #aaa;
        width: 50%;
        font-weight: 300;
        margin: 0 0 50px;
    }

}

.listBlog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 80px 20px;
    margin: 0 0 80px;
}

.blogCard {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;



    & img {
        width: 100%;
        height: 230px;
        object-fit: cover;
    }

    & h2 {
        color: var(--corWhiteText);
    }

    & span {
        color: #666;
        font-weight: 300;
        font-size: 18px;
        height: 92px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & a {
        background: transparent;
        width: fit-content;
        border: none;
        color: var(--corDarkText);
        font-size: 18px;
        margin: 0 0 0 auto;
        transition: 400ms;
        cursor: pointer;
        text-decoration: none;
    }

    & a:hover {
        opacity: 0.5;
    }
}

.btnViewMore {
    width: 300px;
    line-height: 60px;
    font-size: 16px;
    padding: 0 30px;
    margin: 0 auto;
    width: fit-content;
    display: block;
    color: #fdfdfd;
    text-decoration: none;
    border: 1px solid #fdfdfd;
}

.btnViewMore:hover {
    transition: 400ms;
    background: #0003;
    border-color: #555;
    color: #5362ae;
}





/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px ) {

    .contentBlog {

        & h1 {
          width: 100%;
        }
    
        & p {
          width: 100%;
        }
    
      }


}