* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

body {
  width: 100%;
  /* height: 100vh; */
  background: linear-gradient(to bottom, #202a3a, #080611);
  color: #202a3a;
  overflow-y: scroll;
}

.content {
  padding: 0 5%;
}

section {
  padding: 20px 0 0 0 ;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #11161f;

}

::-webkit-scrollbar-thumb {
  background: #5362ae;
  border-radius: 3px;
}






/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
  header {
    font-size: 20px;
    margin: 0 0 30px;

    & span {
      font-size: 20px;
    }
  }












}