.content {
  padding: 0px 5% 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #11161f;
}

::-webkit-scrollbar-thumb {
  background: #5362ae;
  border-radius: 3px;
}

:root {
  --corBtn: #5362ae;
  --corDarkText: #524196;
  --corWhiteText: #fdfdfd
}

.btnViewMore {
  width: 300px;
  line-height: 60px;
  font-size: 16px;
  padding: 0 30px;
  margin: 0 auto;
  width: fit-content;
  display: block;
  color: #fdfdfd;
  text-decoration: none;
  border: 1px solid #fff2;
}

.btnViewMore:hover {
  transition: 400ms;
  border-color: #fff3;
  color: #5362ae;
}


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
  .content {
    padding: 100px 5% 0;
  }
}